<%- include('include/header'); %>
<link rel="stylesheet" type="text/css" href="/assets/website/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/assets/website/styles/responsive.css">
</head>

<body>
<div class="super_container">

<%- include('include/navbar'); %>
<%- include('include/slider'); %>




<!-- Home -->

<div class="home">

    <!-- Home Slider -->
    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">

            <!-- Slide -->
            <div class="owl-item">
                <div class="background_image" style="background-image:url(/assets/website/images/home_slider_1.jpg)"></div>
                <div class="home_content_container">
                    <div class="home_content">
                        <div class="home_discount d-flex flex-row align-items-end justify-content-start">
                            <div class="home_discount_num">20</div>
                            <div class="home_discount_text">Discount on the</div>
                        </div>
                        <div class="home_title">New Collection</div>
                        <div class="button button_1 home_button trans_200"><a href="/categories">Shop NOW!</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide -->
            <div class="owl-item">
                <div class="background_image" style="background-image:url(/assets/website/images/home_slider_1.jpg)"></div>
                <div class="home_content_container">
                    <div class="home_content">
                        <div class="home_discount d-flex flex-row align-items-end justify-content-start">
                            <div class="home_discount_num">20</div>
                            <div class="home_discount_text">Discount on the</div>
                        </div>
                        <div class="home_title">New Collection</div>
                        <div class="button button_1 home_button trans_200"><a href="/categories">Shop NOW!</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide -->
            <div class="owl-item">
                <div class="background_image" style="background-image:url(/assets/website/images/home_slider_1.jpg)"></div>
                <div class="home_content_container">
                    <div class="home_content">
                        <div class="home_discount d-flex flex-row align-items-end justify-content-start">
                            <div class="home_discount_num">20</div>
                            <div class="home_discount_text">Discount on the</div>
                        </div>
                        <div class="home_title">New Collection</div>
                        <div class="button button_1 home_button trans_200"><a href="/categories">Shop NOW!</a></div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Home Slider Navigation -->
        <div class="home_slider_nav home_slider_prev trans_200"><div class=" d-flex flex-column align-items-center justify-content-center"><img src="/assets/website/images/prev.png" alt=""></div></div>
        <div class="home_slider_nav home_slider_next trans_200"><div class=" d-flex flex-column align-items-center justify-content-center"><img src="/assets/website/images/next.png" alt=""></div></div>

    </div>
</div>

<!-- Boxes -->

<div class="boxes">
    <div class="section_container">
        <div class="container">
            <div class="row">

                <!-- Box -->
                <div class="col-lg-4 box_col">
                    <div class="box">
                        <div class="box_image"><img src="/assets/website/images/box_1.jpg" alt=""></div>
                        <div class="box_title trans_200"><a href="/categories">summer collection</a></div>
                    </div>
                </div>

                <!-- Box -->
                <div class="col-lg-4 box_col">
                    <div class="box">
                        <div class="box_image"><img src="/assets/website/images/box_2.jpg" alt=""></div>
                        <div class="box_title trans_200"><a href="/categories">eyewear collection</a></div>
                    </div>
                </div>

                <!-- Box -->
                <div class="col-lg-4 box_col">
                    <div class="box">
                        <div class="box_image"><img src="/assets/website/images/box_3.jpg" alt=""></div>
                        <div class="box_title trans_200"><a href="/categories">basic pieces</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Categories -->

<div class="categories">
    <div class="section_container">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="categories_list_container">
                        <ul class="categories_list d-flex flex-row align-items-center justify-content-start">
                            <li><a href="/categories">new arrivals</a></li>
                            <li><a href="/categories">recommended</a></li>
                            <li><a href="/categories">best sellers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products -->

<div class="products">
    <div class="section_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="products_container grid">

                        <!-- Product -->
                        <div class="product grid-item hot">
                            <div class="product_inner">
                                <div class="product_image">
                                    <img src="/assets/website/images/product_1.jpg" alt="">
                                    <div class="product_tag">hot</div>
                                </div>
                                <div class="product_content text-center">
                                    <div class="product_title"><a href="/product">long red shirt</a></div>
                                    <div class="product_price">$39.90</div>
                                    <div class="product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product grid-item">
                            <div class="product_inner">
                                <div class="product_image"><img src="/assets/website/images/product_2.jpg" alt=""></div>
                                <div class="product_content text-center">
                                    <div class="product_title"><a href="/product">hype grey shirt</a></div>
                                    <div class="product_price">$19.50</div>
                                    <div class="product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product grid-item sale">
                            <div class="product_inner">
                                <div class="product_image">
                                    <img src="/assets/website/images/product_3.jpg" alt="">
                                    <div class="product_tag">sale</div>
                                </div>
                                <div class="product_content text-center">
                                    <div class="product_title"><a href="/product">long sleeve jacket</a></div>
                                    <div class="product_price">$32.20<span>RRP 64.40</span></div>
                                    <div class="product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product grid-item">
                            <div class="product_inner">
                                <div class="product_image">
                                    <img src="/assets/website/images/product_4.jpg" alt="">
                                </div>
                                <div class="product_content text-center">
                                    <div class="product_title"><a href="/product">denim men shirt</a></div>
                                    <div class="product_price">$59.90</div>
                                    <div class="product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product grid-item">
                            <div class="product_inner">
                                <div class="product_image">
                                    <img src="/assets/website/images/product_5.jpg" alt="">
                                </div>
                                <div class="product_content text-center">
                                    <div class="product_title"><a href="/product">long red shirt</a></div>
                                    <div class="product_price">$79.90</div>
                                    <div class="product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product grid-item new">
                            <div class="product_inner">
                                <div class="product_image">
                                    <img src="/assets/website/images/product_6.jpg" alt="">
                                    <div class="product_tag">new</div>
                                </div>
                                <div class="product_content text-center">
                                    <div class="product_title"><a href="/product">hype grey shirt</a></div>
                                    <div class="product_price">$59.90</div>
                                    <div class="product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product grid-item">
                            <div class="product_inner">
                                <div class="product_image">
                                    <img src="/assets/website/images/product_7.jpg" alt="">
                                </div>
                                <div class="product_content text-center">
                                    <div class="product_title"><a href="/product">long sleeve jacket</a></div>
                                    <div class="product_price">$15.90</div>
                                    <div class="product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product grid-item sale">
                            <div class="product_inner">
                                <div class="product_image">
                                    <img src="/assets/website/images/product_8.jpg" alt="">
                                    <div class="product_tag">sale</div>
                                </div>
                                <div class="product_content text-center">
                                    <div class="product_title"><a href="/product">denim men shirt</a></div>
                                    <div class="product_price">$43.99<span>RRP 64.40</span></div>
                                    <div class="product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<%- include('include/footer'); %>


    <script src="/assets/website/js/custom.js"></script>
</body>
</html>



