
<!-- Newsletter -->

<div class="newsletter">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/assets/website/images/newsletter.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="newsletter_content text-center">
                    <div class="newsletter_title_container">
                        <div class="newsletter_title">subscribe to our newsletter</div>
                        <div class="newsletter_subtitle">we won't spam, we promise!</div>
                    </div>
                    <div class="newsletter_form_container">
                        <form action="#" id="newsletter_form" class="newsletter_form">
                            <input type="email" class="newsletter_input" placeholder="your e-mail here" required="required">
                            <button class="newsletter_button">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Footer -->
<footer class="footer">
    <div class="footer_content">
        <div class="section_container">
            <div class="container">
                <div class="row">

                    <!-- About -->
                    <div class="col-xxl-3 col-md-6 footer_col">
                        <div class="footer_about">
                            <!-- Logo -->
                            <div class="footer_logo">
                                <a href="#"><div>a<span>star</span></div></a>
                            </div>
                            <div class="footer_about_text">
                                <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam fringilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
                            </div>
                            <div class="cards">
                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                    <li><a href="#"><img src="images/card_1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/card_2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/card_3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/card_4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/card_5.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Questions -->
                    <div class="col-xxl-3 col-md-6 footer_col">
                        <div class="footer_questions">
                            <div class="footer_title">questions</div>
                            <div class="footer_list">
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Track Orders</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Jobs</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Partners</a></li>
                                    <li><a href="#">Bloggers</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Press</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Blog -->
                    <div class="col-xxl-3 col-md-6 footer_col">
                        <div class="footer_blog">
                            <div class="footer_title">blog</div>
                            <div class="footer_blog_container">

                                <!-- Blog Item -->
                                <div class="footer_blog_item d-flex flex-row align-items-start justify-content-start">
                                    <div class="footer_blog_image"><a href="blog.html"><img src="images/footer_blog_1.jpg" alt=""></a></div>
                                    <div class="footer_blog_content">
                                        <div class="footer_blog_title"><a href="blog.html">what shoes to wear</a></div>
                                        <div class="footer_blog_date">june 06, 2018</div>
                                        <div class="footer_blog_link"><a href="blog.html">Read More</a></div>
                                    </div>
                                </div>

                                <!-- Blog Item -->
                                <div class="footer_blog_item d-flex flex-row align-items-start justify-content-start">
                                    <div class="footer_blog_image"><a href="blog.html"><img src="images/footer_blog_2.jpg" alt=""></a></div>
                                    <div class="footer_blog_content">
                                        <div class="footer_blog_title"><a href="blog.html">trends this year</a></div>
                                        <div class="footer_blog_date">june 06, 2018</div>
                                        <div class="footer_blog_link"><a href="blog.html">Read More</a></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Contact -->
                    <div class="col-xxl-3 col-md-6 footer_col">
                        <div class="footer_contact">
                            <div class="footer_title">contact</div>
                            <div class="footer_contact_list">
                                <ul>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>C.</span><div>Your Company Ltd</div></li>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>A.</span><div>1481 Creekside Lane  Avila Beach, CA 93424, P.O. BOX 68</div></li>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>T.</span><div>+53 345 7953 32453</div></li>
                                    <li class="d-flex flex-row align-items-start justify-content-start"><span>E.</span><div>office@youremail.com</div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Social -->
    <div class="footer_social">
        <div class="section_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_social_container d-flex flex-row align-items-center justify-content-between">
                            <!-- Instagram -->
                            <a href="#">
                                <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_social_icon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="footer_social_title">instagram</div>
                                </div>
                            </a>
                            <!-- Google + -->
                            <a href="#">
                                <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_social_icon"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
                                    <div class="footer_social_title">google +</div>
                                </div>
                            </a>
                            <!-- Pinterest -->
                            <a href="#">
                                <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_social_icon"><i class="fa fa-pinterest" aria-hidden="true"></i></div>
                                    <div class="footer_social_title">pinterest</div>
                                </div>
                            </a>
                            <!-- Facebook -->
                            <a href="#">
                                <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_social_icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="footer_social_title">facebook</div>
                                </div>
                            </a>
                            <!-- Twitter -->
                            <a href="#">
                                <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_social_icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="footer_social_title">twitter</div>
                                </div>
                            </a>
                            <!-- YouTube -->
                            <a href="#">
                                <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_social_icon"><i class="fa fa-youtube" aria-hidden="true"></i></div>
                                    <div class="footer_social_title">youtube</div>
                                </div>
                            </a>
                            <!-- Tumblr -->
                            <a href="#">
                                <div class="footer_social_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_social_icon"><i class="fa fa-tumblr-square" aria-hidden="true"></i></div>
                                    <div class="footer_social_title">tumblr</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Credits -->
    <div class="credits">
        <div class="section_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="credits_content d-flex flex-row align-items-center justify-content-end">
                            <div class="credits_text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</div>
<script src="/assets/website/js/jquery-3.2.1.min.js"></script>
<script src="/assets/website/styles/bootstrap-4.1.3/popper.js"></script>
<script src="/assets/website/styles/bootstrap-4.1.3/bootstrap.min.js"></script>
<script src="/assets/website/plugins/greensock/TweenMax.min.js"></script>
<script src="/assets/website/plugins/greensock/TimelineMax.min.js"></script>
<script src="/assets/website/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/assets/website/plugins/greensock/animation.gsap.min.js"></script>
<script src="/assets/website/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/assets/website/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/assets/website/plugins/easing/easing.js"></script>
<script src="/assets/website/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/assets/website/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/assets/website/plugins/Isotope/fitcolumns.js"></script>
