<!-- Sidebar -->

<div class="sidebar">

    <!-- Info -->
    <div class="info">
        <div class="info_content d-flex flex-row align-items-center justify-content-start">

            <!-- Language -->
            <div class="info_languages has_children">
                <div class="language_flag"><img src="/assets/website/images/flag_1.svg"
                                                alt="https://www.flaticon.com/authors/freepik"></div>
                <div class="dropdown_text">english</div>
                <div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>

                <!-- Language Dropdown Menu -->
                <ul>
                    <li><a href="#">
                            <div class="language_flag"><img src="/assets/website/images/flag_2.svg"
                                                            alt="https://www.flaticon.com/authors/freepik"></div>
                            <div class="dropdown_text">french</div>
                        </a></li>
                    <li><a href="#">
                            <div class="language_flag"><img src="/assets/website/images/flag_3.svg"
                                                            alt="https://www.flaticon.com/authors/freepik"></div>
                            <div class="dropdown_text">japanese</div>
                        </a></li>
                    <li><a href="#">
                            <div class="language_flag"><img src="/assets/website/images/flag_4.svg"
                                                            alt="https://www.flaticon.com/authors/freepik"></div>
                            <div class="dropdown_text">russian</div>
                        </a></li>
                    <li><a href="#">
                            <div class="language_flag"><img src="/assets/website/images/flag_5.svg"
                                                            alt="https://www.flaticon.com/authors/freepik"></div>
                            <div class="dropdown_text">spanish</div>
                        </a></li>
                </ul>

            </div>

            <!-- Currency -->
            <div class="info_currencies has_children">
                <div class="dropdown_text">usd</div>
                <div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>

                <!-- Currencies Dropdown Menu -->
                <ul>
                    <li><a href="#">
                            <div class="dropdown_text">EUR</div>
                        </a></li>
                    <li><a href="#">
                            <div class="dropdown_text">YEN</div>
                        </a></li>
                    <li><a href="#">
                            <div class="dropdown_text">GBP</div>
                        </a></li>
                    <li><a href="#">
                            <div class="dropdown_text">CAD</div>
                        </a></li>
                </ul>

            </div>

        </div>
    </div>

    <!-- Logo -->
    <div class="sidebar_logo">
        <a href="#">
            <div>a<span>star</span></div>
        </a>
    </div>

    <!-- Sidebar Navigation -->
    <nav class="sidebar_nav">
        <ul>
            <li><a href="/">home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            <li><a href="#">woman<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            <li><a href="#">man<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            <li><a href="#">child<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            <li><a href="#">contact<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            <% if(isUser){ %>
                <li><a href="/logout">logout<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            <% }else{ %>
                <li><a href="/login">login<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="/singUp">sing up<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

            <% } %>
        </ul>
    </nav>

    <!-- Search -->
    <div class="search">
        <form action="#" class="search_form" id="sidebar_search_form">
            <input type="text" class="search_input" placeholder="Search" required="required">
            <button class="search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>

    <!-- Cart -->
    <% if(isUser){ %>
        <div class="cart d-flex flex-row align-items-center justify-content-start">
            <div class="cart_icon"><a href="/cart">
                    <img src="/assets/website/images/bag.png" alt="">
                    <div class="cart_num">2</div>
                </a></div>
            <div class="cart_text">bag</div>
            <div class="cart_price">$39.99 (1)</div>
        </div>

    <% } %>
</div>
