<!-- footer content -->
<footer class="hidden-print">
    <div class="pull-left">
        Gentelella - قالب پنل مدیریت بوت استرپ <a href="https://colorlib.com">Colorlib</a> | پارسی شده توسط <a
                href="https://morteza-karimi.ir">مرتضی کریمی</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->